.myDialog{
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;}
.myDialog > *.button-bar > *.container{
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}
.myDialog > *.label.content{
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}
.myDialog *.header-panel{
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.myDialog *.header-panel *.label{
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}
.myDialog{
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}
.dialog-pane .button{
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-cursor:hand;
}

.dialog-pane .button:hover{
-fx-background-color: #3a3a3a;
 }
