.background {
    -fx-background-color: #1d1d1d;
}
.mainBackground {
    -fx-background-image: url("../img/main_menu_bg.jpg");
    -fx-background-size: cover, auto;
}

.title{
    -fx-text-fillt: #FF14B4;
    -fx-font-family: TRON;
}

.label {
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

#label{
    -fx-font-family: Pixellari;
    -fx-text-fill: #00eeff;
    -fx-opacity: 1;
}

.startLabel{
    -fx-font-family: Pixellari;
    -fx-text-fill:  #00EEFF;
    -fx-background-color: transparent;
    -fx-opacity: 1;
    -fx-font-size: 15px;
}
.selectTitre{
    -fx-font-family: Pixellari;
    -fx-text-fill:  #00EEFF;
    -fx-background-color: transparent;
    -fx-opacity: 1;
    -fx-font-size: 30px;
}

.label-bright {
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
}

/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #00EEFF;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: rgba(29, 29, 29, 0.9) ;
    -fx-text-fill:  #00EEFF;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-font-family: Pixellari;
    -fx-font-size: 25px;
}

.button:hover {
    -fx-background-color: #3a3a3a;
    -fx-font-size: 25px;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #00EEFF;
    -fx-text-fill: #1d1d1d;
    -fx-font-size: 25px;
}

.button:focused {
    -fx-border-color: #00EEFF,#00EEFF;
    -fx-border-width: 1, 1;
    /*-fx-border-style: solid, segments(1, 1);*/
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
    -fx-font-size: 25px;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
    -fx-font-size: 25px;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
    -fx-font-size: 25px;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
    -fx-font-size: 25px;
}





.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: darkgray;
}

.menu-item:focused .label {
    -fx-text-fill: #1d1d1d;
}

.context-menu {
    -fx-background-color: #1d1d1d;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}